<div style="--bs-primary: #982111;--bs-primary-rgb: 152,33,17;">
    <header
    class="masthead"
    style="background-image: url('assets/img/intro-bg.jpg');">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="brand-heading" style="margin: 0px 0px 20px;">My Dashboard</h1>
            <h3
              class="brand-heading"
              style="font-size: 20px;color: var(--bs-black);">
            Hello {{ name }}, welcome to your livestock dashboard. Select the buttons below to get started.</h3>
          </div>
              <div class="row d-flex" style="justify-content: center">
                <div class="btn-group m-3 p-3 w-25" role="group" style="border:black; background-color:#982111">
                  <a style="color: black; text-align: center" href="/viewCattle">VIEW MY LIVESTOCK</a>
                    {{!-- <button id="my-livestock-btn"class="btn btn-primary" type="button" style="background: var(--bs-primary);border-color: var(--bs-primary); m-3"><a href="viewCattle"></a>My Livestock</button> --}}
                </div>
                <br>
                <div class="btn-group m-3 p-3 w-25" role="group" style="border:black; background-color: #982111">
                  <a style="color: black; text-align: center" href="/addCattle">ADD LIVESTOCK</a>
                    {{!-- <button id="add-livestock-btn" class="btn btn-primary" type="button" style="background: var(--bs-primary);border-color: var(--bs-primary); m-3"><a href="/addCattle"></a>Add Livestock</button> --}}
                </div>
              </div>
        </div>
    </div>
    </div>
  </header>
</div>

<script src="/js/dashboard.js"></script>