<div>
    <header class="masthead" style="background-image: url('assets/img/intro-bg.jpg');">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h1 class="brand-heading" style="margin: 0px 0px 20px;">herd.</h1>
                            <h6 class="brand-heading" style="font-size: 20px;color: var(--bs-black);">Not your average livestock tracker.</h6>
                            <p class="intro-text">Manager your livestock from your fingertips. Sign up today for your first 30 days free.</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </header>

    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About herd.</h2>
                    <p>HERD is a full stack web application that allows ranchers to create a unique secure account to track their livestock. Ranchers can add and update detailed information on their cattle including their tagIDs, last known location, age, family relations, and vaccine status.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center download-section content-section" id="download" style="background-image: url('assets/img/downloads-bg.jpg');">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>LOGIN</h1>
                <p>Don't have an account yet? Sign up here.</p>
                <section class="py-4 py-xl-5">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-5">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4" style="background: var(--bs-primary);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                            </svg></div>
                                        <form class="text-center" method="post">
                                            <div class="mb-3"><input id="email-login" class="form-control" type="email" name="email" placeholder="Email"></div>
                                            <div class="mb-3"><input id="password-login"class="form-control" type="password" name="password" placeholder="Password"></div>
                                            <div class="mb-3"><button id="login-btn" class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-primary);color: var(--bs-card-bg);">Login</button></div>
                                            <p class="text-muted">Forgot your password?</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="text-center download-section content-section" id="download-1" style="background-image: url('assets/img/downloads-bg.jpg');">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>sign up</h1>
                <p>First 30 days free.</p>
                <section class="py-4 py-xl-5">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-5">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4" style="background: var(--bs-primary);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                            </svg></div>
                                        <form class="text-center" method="post">
                                            <div class="mb-3"><input id="username-signup" class="form-control" type="username" name="username" placeholder="Username"></div>
                                            <div class="mb-3"><input id="email-signup" class="form-control" type="email" name="email" placeholder="Email"></div>
                                            <div class="mb-3"><input id="password-signup" class="form-control" type="password" name="password" placeholder="Password"></div><input class="form-control" type="text" style="margin: 0px 0px 12px;">
                                            <div class="mb-3"><button id="signup-btn" class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-primary);color: var(--bs-card-bg);">sign up</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="text-center content-section" id="contact" style="color: var(--bs-black);background: var(--bs-white);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact us</h2>
                    <p>Please contact the owner of this GitHub Repository (maliayraguen@gmail.com) for inquiries.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button" style="background: var(--bs-primary);border-color: var(--bs-primary);color: var(--bs-btn-disabled-color);"><i class="fa fa-github fa-fw"></i><span class="network-name" style="--bs-body-color: var(--bs-btn-disabled-color);">&nbsp;github</span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>